.carousel-img{
    height: 500px;
    object-fit: cover;
}

.card-img{
    height: 250px;
    object-fit: cover;
}

.card{
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.03);
}